# Quality of Life by Country Comparison 2021

## Table of Contents

### 1. Import Libraries
### 2. Import Dataset
### 3. Check Dataset
##### Shape, info & data types, mixed data types, calculate basic statistics
### 4. Consistency Check Dataset
##### Blanks, duplicates
### 5. Notes

## 1. Import Libraries

In [5]:
#Import Libraries
import pandas as pd
import numpy as np
import os

## 2. Import Dataset

In [6]:
#Create a path
path = r'C:\Users\dyl41\Documents\Quality of Life Project'

In [7]:
#Import dataset
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'Quality of Life.csv'), index_col = False)

## 3. Check Dataset

In [8]:
#Check shape
df.shape

(137, 11)

In [9]:
#Check info & data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  137 non-null    int64
 1   Rank                        137 non-null    int64
 2   Country                     137 non-null    object
 3   Stability(15%)              137 non-null    int64
 4   Rights(20%)                 137 non-null    int64
 5   Health(15%)                 137 non-null    int64
 6   Safety(10%)                 137 non-null    int64
 7   Climate(15%)                137 non-null    int64
 8   Costs(15%)                  137 non-null    int64
 9   Popularity(10%)             137 non-null    int64
 10  TotalQuality of life(100%)  137 non-null    int64
dtypes: int64(10), object(1)
memory usage: 11.9+ KB

In [11]:
#Check for mixed types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col, 'mixed')

In [12]:
#Calculate basic stats
df.describe()

,Unnamed: 0,Rank,Stability(15%),Rights(20%),Health(15%),Safety(10%),Climate(15%),Costs(15%),Popularity(10%),TotalQuality of life(100%)
count,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000
mean,68.000000,69.000000,57.576642,50.686131,58.124088,76.781022,53.233577,52.343066,37.978102,54.802920
std,39.692569,39.692569,19.328706,25.142755,26.093284,21.791362,19.960720,11.612897,12.050425,10.887013
min,0.000000,1.000000,8.000000,7.000000,0.000000,4.000000,2.000000,23.000000,11.000000,29.000000
25%,34.000000,35.000000,46.000000,32.000000,42.000000,69.000000,42.000000,44.000000,31.000000,47.000000
50%,68.000000,69.000000,57.000000,45.000000,63.000000,85.000000,53.000000,54.000000,37.000000,54.000000
75%,102.000000,103.000000,72.000000,72.000000,80.000000,93.000000,68.000000,61.000000,42.000000,64.000000
max,136.000000,137.000000,93.000000,100.000000,100.000000,100.000000,95.000000,76.000000,73.000000,76.000000

## 4. Consistency Check Dataset

In [13]:
#Check for blanks
df.isnull().sum()

Unnamed: 0                    0
Rank                          0
Country                       0
Stability(15%)                0
Rights(20%)                   0
Health(15%)                   0
Safety(10%)                   0
Climate(15%)                  0
Costs(15%)                    0
Popularity(10%)               0
TotalQuality of life(100%)    0
dtype: int64

In [14]:
#Check for duplicates
df_dups = df[df.duplicated()]

In [15]:
#Check the duplicate dataframe
df_dups

Empty DataFrame
Columns: [Unnamed: 0, Rank, Country, Stability(15%), Rights(20%), Health(15%), Safety(10%), Climate(15%), Costs(15%), Popularity(10%), TotalQuality of life(100%)]
Index: []

## 5. Notes

Dataset was pre-cleaned in Excel and imported here to double check for any errors